<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout Logger</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
<h1>Welcome to the Workout Logger!</h1>
<p>This page uses Thymeleaf templates.</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>Duration (min)</th>
        <th>Distance</th>
        <th>Unit</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody id="workoutsTableBody">
    <!-- Rows will be inserted here dynamically -->
    </tbody>

<button id="reload-workouts">Reload Workouts</button>

<button id="add-workout">Add Workout</button>

</body>
</html>